<!DOCUTYPE html>
<html>
<head>
  <script>

  function check(x) {

      for (i = 0, i < x.length, i++){
        var chk = document.createElement('input');
        chk.type = "checkbox";
        chk.name = "gat[]";
        chk.value = "x"
        ugh.appendChild(chk);

      }

  }



  </script>

<head>

<body onload = 'check(x)'>

  <button onclick = 'check(x)'> </button>

  <form method = 'post' action = '/p_check'>
    <input type = 'hidden' name = x value = '<%=x%>'>
    <div id = 'ugh'> </div>
    <input type = 'submit' value = 'Submit'>
  </form>







</body>
<html>
