<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="css/style.css">

<script src = '/js/randompairs.js'> </script>

</head>

<body class = "center">

	<header class = "color">
		<h1 class="center title"> Random Pairs </h1><br>
	</header>





	<div id = 'killme' class = "color">
	<%=yield%>
  </div>



<footer class = "center color">
	<a href="http://www.minedminds.org" target = "_blank"> MinedMinds</a>
	<h3 class = "title color"> Come all, let us march toward the end of all reason </h3	>
</footer>




</body>
</html>
