<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="css/style.css">


</head>

<body class = "center">

	<header>
		<h1 class="center title"> Random Pairs </h1><br>
	</header>





	<div id = 'killme'
	<%=yield%>
  </div>








</body>
