<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="css/style.css">

	<script src = '/js/randompairs.js'> </script>

</head>



<body class = "image">

	<header class = "center color ">
		<h1 class="center title"> Random Pairs </h1><br>
		<div id = 'test2' class = "color"> Come let us march toward the end of all reason </div>
	</header>





	<div id = 'killme' class = "center color">
	<%=yield%>
  </div>



	<footer class = "center color">
		<a href="http://www.minedminds.org" target = "_blank"> MinedMinds</a><br>
		<div id = 'test'> Come let us march toward the end of all reason </div>
	</footer>




</body>
</html>
