<!DOCTYPE html>
<html>
<head>




</head>

<body>

<h1> Enter the <%=p%> names you for pair randomization: </h1>

<form method = 'post' action '/p_names'>




</form>









</body>
