<!DOCTYPE html>
<html>
<head>

<script>

	function names() {
		var amt = document.getElementById("num").value;
		for (i = 0; i < amt; i++){
		var names = document.createElement("input");
		names.type = "text";
		names.required = true;
		names.name = "names" + i
		names.placeholder = "Names here"
		box.appendChild(names);
		box.appendChild(document.createElement("br"));
		}
	}
</script>

</head>

<body>

<h1> How many pairs would you like to match? </h1>

<div id = "box">
<form method = "post" action = "p_pairs">
	<input id="num" type = "number" min = 4 name = "num" required>
	<input type = "submit" value = "Submit">
</form>
	<button onclick = "names()"> Enter names: </button>
</div>



</body>
</html>
