<!DOCTYPE html>
<html>
<head>

<script>	</script>

</head>

<body>

<h1> How many pairs would you like to match? </h1>


<form method = "post" action = "/p_pairs">
	<input type = "text" name = "p" required>
	<input type = "submit" value="Submit">
</form>


</body>
</html>	