<!DOCTYPE html>
<html>
<head>

<script>

	function names() {
		// var arr = [];
		var amt = document.getElementById("num").value;
		for (i = 0; i < amt; i++){
		var qwerty = document.createElement("input");
		qwerty.type = "text";
		qwerty.required = true;
		qwerty.name = "qwerty[]"
		qwerty.placeholder = "Names here"
		box.appendChild(qwerty);
		box.appendChild(document.createElement("br"));
		// n = document.getElementById("pleasekillme").value;
		// 	arr.push(n);

		}
		console.log("I am where")
	}
</script>

</head>

<body>

<h1> Enter your names for random teams: </h1>


<form method = "post" action = "p_pairs">
	<input id="num" type = "number" min = 4 name = "num" required>
	<input type = "submit" value = "Submit">
	<div id = 'box' name = "qwerty[]"> </div>
	<!-- <input type = "hidden" id = 'pleasekillme' name = 'qwerty'> -->
</form>
	<button onclick = "names()"> Enter names: </button>





</body>
</html>
