.center {
	text-align: center;
}

.title {
	font-size: 4rem;
	color: blue;
}

header {
	width: 60%;
	height: 15%;
	background-color: gray;
	position: absolute;
	top: 0;
	margin-left: 20.55%;
	border-style: solid;
	border-color: blue;
	border-width: 0.75rem;
	margin-bottom: 0;
	padding-bottom: 0;

}

body {
	text-align: center;
}

#killme {
	width: 60.5%;
	height: 80%;
	position: absolute;
	top: 27%;
	right: 33%;
	left: 21%;
	bottom: 35%;
	border-style: solid;
	border-width: 0.50rem;
	border-color: black;
	margin-top: 0;
	padding-top: 0;

}
