.center {

	text-align: center;
}

.title {

	font-size: 4rem;

}

.color {
	color: indigo;
	border-color: indigo;
}

header {
	width: 60.5vw;
	height: 15vh;
	position: absolute;
	top: 0;
	right: 33%;
	left: 21%;
	bottom: 35%;
	border-radius: 25px;
	border-style: solid;
	border-width: 0.35rem;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;


}

body {

	text-align: center;
	background-image: url(/images/tensa_zangetsu.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#killme {

	width: 60.5vw;
	height: 30vw;
	position: absolute;
	top: 23%;
	right: 33%;
	left: 21%;
	bottom: 35%;
	border-radius: 25px;
	border-style: solid;
	border-width: 0.35rem;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;

}

footer {

	position: absolute;
	width: 60.5vw;
	height: 5vh;
	top: 90%;
	right: 33%;
	left: 21%;
	bottom: 10%;
	border-radius: 25px;
	border-style: solid;
	border-width: 0.35rem;

}
